@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

@font-face { 
   font-family: 'NanumSquareRound';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
   font-weight: normal; 
   font-style: normal; 
}


#article-content-wrapper #article-content strong em,
#article-content-wrapper #article-content em strong,
#article-content-wrapper #article-content strong i,
#article-content-wrapper #article-content i strong,
#article-content-wrapper #article-content b i,
#article-content-wrapper #article-content i b,
#article-content-wrapper #article-content b em,
#article-content-wrapper #article-content em b
{
  font-style: normal;
  font-weight: normal;
  font-family: 'Fira Code', NanumSquareRound;
}