:root {
  --color-0: #ffffff; /* box color */

  --color-1: #eebb92; /* */
  --color-2: #f1bb9f; /* */
  --color-3: #a25614; /* main color */
  --color-4: #ac713c; /* sub  color */
  --color-5: #d5a88a; /* */

  --logo-URL: url("https://jayppo.github.io/CSS/source/CI.png"); /* 수정해야함 */
  --logo-Width: 158px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;

  --icon-URL: url("https://jayppo.github.io/CSS/source/icon.png"); /* 수정해야함 */
  --pre-comment: "오늘도 보러와주신 ";
  --sub-comment: "분 감사해요!";
}